[Unit]
Description=Xray reality Service
Documentation=https://github.com/xtls
After=network.target nss-lookup.target

[Service]
ExecStart = /root/xray_reality/xray run -config /root/xray_reality/config.json
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
